body {
    font-family: Montserrat, sans-serif;
    font-weight: 1000;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.song-title,
.playlist-title {
  text-decoration: none;
}

#sidebar {
    background-color: #a0956a;
    color: #ffffff;
    width: 200px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
}

#menu-title {
    font-size: 37px;
    text-align: center;
    margin-top: 15px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -10px; /* Ajusta este valor según tus preferencias */
    
}

#sidebar ul li {
    margin-top: -10px; /* Ajusta este valor según tus preferencias */
    margin-bottom: 0px; 
}

.sidebar-image {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    margin-top: 11px;
    margin-left: 11px;
    width: 90%;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.playlist-imagen img {
    display: block;
    margin: 0 auto;
    width: 120px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 120px;
    border-radius: 8%; /* Opcional: aplicar un borde redondeado */
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}  

.playlist-imagen img:hover {
    opacity: 0.75;
}

#playlist-header {
    padding-top: 0px;
    padding-left: 15px;
}

.playlist-header-image {
    position: absolute;
    top: 1;
    left: 1;
    width: 43.6%;
    z-index: 1;
    height: auto;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.inicio-playlist {
    padding-top: 280px;
}

.spacer {
    border: none;
    border-top: 2.5px solid black;
    margin: 5px 0;
    margin-top: 220px;
    text-align: center;
}

.spacer2 {
    border: none;
    border-top: 2.5px solid black;
    margin: 5px 0;
    margin-top: 30px;
    margin-left: 15px;
    max-width: 50%;
    text-align: center;
    margin-bottom: -20px;
}

.spacer3 {
    border: none;
    border-top: 2.5px solid black;
    margin: 5px 0;
    margin-left: 15px;
    max-width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.header {
    background-color: #a0956a;
    color: black;
    text-align: center;
    font-size: 90px;
    font-style: italic;
    padding: 0px;
    animation: colorChange 2s steps(1) infinite;
  }
  
  @keyframes colorChange {
    0% {
      background-color: #a0956a;
      color: black;
    }
    50% {
      background-color: black;
      color: #a0956a;
    }
    100% {
      background-color: #a0956a;
      color: black;
    }
}

#content {
    margin-left: 220px;
    max-width: 1786px;
    padding: 20px;
}

h1 {
    color: #000000;
}

.playlist {
    display: none;
}

.active {
    display: block;
}

.playlist-title {
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: bold;
    margin-left: 15px;
}


  
.song-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.play-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
}
  
.play-icon img {
    max-width: 100%;
    max-height: 100%;
}



/*Duplicado de song-list */

.albumzetaksongs {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 50%;
    margin-left: 15px;
}

.albumzetaksongs li {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 24px;
    color: #2c2c2c;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.albumzetaksongs li:hover {
    background-color: #f2f2f2;
}

.albumzetaksongs li span {
    margin-left: 10px;
}


/* FIN Duplicado de song-list */

.song-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 50%;
    margin-left: 15px;
}

.song-list li {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 24px;
    color: #2c2c2c;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.song-list li:hover {
    background-color: #f2f2f2;
}

.song-list li span {
    margin-left: 10px;
}

.wrapper {
    min-height: calc(100% - 60px); /* Ajusta este valor según el tamaño del footer */
    /* Resto de estilos para tu contenido principal */
}

.footer {
    background-color: #a0956a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}

.footer a {
    text-decoration: none;
    color: #3d3d3d;
}
  
.footer a:hover {
    text-decoration: underline;
}

.form-container {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #555555;
}



.video-container {
    position: fixed;
    top: -140px; /* Ajusta este valor según tus preferencias */
    right: -645px; /* Ajusta este valor según tus preferencias */
    width: 100%;
    transform: scale(0.5);
    height: 0;
    padding-bottom: 56.25%; /* Proporción 16:9 */
    margin-bottom: 20px;
    background-image: url('images/zetak_cover.webp'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen personalizada */
    background-size: 81% auto;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.video-container iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    border: 10px solid #a0956a;
}
